<div class="flex flex-col flex-auto w-full h-full">
    <div class="flex flex-col border-b px-6 py-2 bg-sky-500 dark:bg-inherit text-white h-56">
        <!-- Title -->
        <div class="flex flex-auto items-center text-3xl tracking-tight leading-none">Mailbox</div>

        <mat-form-field class="mt-4" appearance="outline" color="accent">
            <mat-label>Test label</mat-label>
            <mat-select [value]="1">
                <mat-option [value]="1">test 1</mat-option>
                <mat-option [value]="2">test 2</mat-option>
                <mat-option [value]="3">test 3</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="mt-2" appearance="outline" color="accent">
            <mat-label>Test label</mat-label>
            <mat-select [value]="1">
                <mat-option [value]="1">test 1</mat-option>
                <mat-option [value]="2">test 2</mat-option>
                <mat-option [value]="3">test 3</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <!-- Navigation -->
    <fuse-vertical-navigation
        class="py-4"
        [navigation]="menuData"
        [inner]="true"
        [mode]="'side'"
        [opened]="true"
        [autoCollapse]="false"
    >
    </fuse-vertical-navigation>
</div>
