<div class="flex flex-auto h-full pl-4 border-l">
  <mat-icon class="self-center" svgIcon="heroicons_outline:search"></mat-icon>
  <input class="px-4 flex-1" type="text" placeholder="Поиск по имени клиента или по номеру заявки или по тел.номеру (9 цифр) или по ИНН">
  <div class="hidden lg:flex">
    <mat-label class="self-center mr-4">Период:</mat-label>
    <mat-date-range-input class="self-center" [rangePicker]="picker">
      <input matStartDate placeholder="Start date">
      <input matEndDate placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle class="self-center" matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </div>
  <div class="flex items-center ml-3">
    <button (click)="advancedSearchDialog()" mat-icon-button>
      <mat-icon>expand_more</mat-icon>
    </button>
  </div>
</div>
