<div>
  <div class="flex items-center justify-between bg-primary px-4 py-3">
    <h3 class="text-xl text-white">Детальный поиск</h3>
    <button (click)="matDialogRef.close()" mat-icon-button type="button">
      <mat-icon
        class="icon-size-5 text-white"
        [svgIcon]="'heroicons_outline:x'">
      </mat-icon>
    </button>
  </div>
  <div class="p-6">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, voluptatum.
  </div>
  <div class="bg-gray-100 px-4 py-2">
    <div class="flex items-center justify-between">
      <div>
        <button
          color="primary"
          type="button"
          mat-flat-button
        >
          <mat-icon
            class="icon-size-5"
            [svgIcon]="'heroicons_outline:search'">
          </mat-icon>
          <span class="ml-2">Search</span>
        </button>
        <button
          class="ml-2"
          color="warn"
          type="button"
          mat-stroked-button
        >
          <mat-icon
            class="icon-size-5"
            [svgIcon]="'heroicons_solid:trash'">
          </mat-icon>
          <span class="ml-2">Clear</span>
        </button>
      </div>
      <button
        (click)="matDialogRef.close()"
        color="accent"
        type="button"
        mat-stroked-button
      >
        <mat-icon
          class="icon-size-5"
          [svgIcon]="'heroicons_solid:x'">
        </mat-icon>
        <span class="ml-2">Cancel</span>
      </button>
    </div>
  </div>
</div>
