<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <div class="relative flex-auto h-full">
        <div class="absolute bg-sky-500 dark:bg-inherit h-56 top-0 inset-x-0"></div>
        <mat-drawer-container class="flex-auto h-full bg-transparent">

            <!-- Drawer -->
            <mat-drawer
                class="w-60 dark:bg-gray-900 border-r-0"
                [mode]="drawerMode"
                [opened]="drawerOpened"
                #drawer>

                <!-- Mailbox sidebar -->
                <mailbox-sidebar></mailbox-sidebar>

            </mat-drawer>

            <!-- Drawer content -->
            <mat-drawer-content class="flex flex-col mr-8 overflow-hidden" [class.ml-8]="!this.drawer.opened">
                <!-- List Header -->
                <div class="flex flex-0 items-center w-full h-16 my-4 z-49 rounded-full shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden">
                    <div class="flex flex-auto h-full px-4">
                        <div class="flex self-center mr-3">
                            <!-- Sidebar toggle button -->
                            <button
                                mat-icon-button
                                (click)="toggleSidebar()">
                                <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
                            </button>
                        </div>
                        <app-action-search></app-action-search>
                    </div>
                </div>

                <!-- Main -->
                <div class="flex flex-auto rounded-xl overflow-hidden">
                    <router-outlet></router-outlet>
                </div>

            </mat-drawer-content>

        </mat-drawer-container>
    </div>

</div>
