<div class="flex flex-col flex-auto overflow-y-auto lg:overflow-hidden bg-card dark:bg-default">

    <ng-container *ngIf="mail; else selectMailToRead">

        <!-- Header -->
        <div class="z-10 relative flex flex-col flex-0 w-full border-b">

            <!-- Toolbar -->
            <div class="flex items-center min-h-16 px-4 md:px-6 border-b bg-gray-50 dark:bg-transparent">

                <!-- Back button -->
                <a
                    class="lg:hidden md:-ml-2"
                    mat-icon-button
                    [routerLink]="['./../']">
                    <mat-icon [svgIcon]="'heroicons_outline:arrow-narrow-left'"></mat-icon>
                </a>

                <!-- Toggle labels button & menu -->
                <button
                    class="ml-auto"
                    mat-icon-button
                    [matMenuTriggerFor]="toggleLabelMenu">
                    <mat-icon [svgIcon]="'heroicons_outline:tag'"></mat-icon>
                </button>
                <mat-menu #toggleLabelMenu="matMenu">
                    <ng-container *ngFor="let label of labels; trackBy: trackByFn">
                        <div
                            mat-menu-item
                            (click)="toggleLabel(label)"
                            matRipple>
                            <mat-checkbox
                                class="pointer-events-none"
                                [color]="'primary'"
                                [checked]="mail.labels.includes(label.id)"
                                [disableRipple]="true">
                                {{label.title}}
                            </mat-checkbox>
                        </div>
                    </ng-container>
                </mat-menu>

                <!-- Toggle important button -->
                <button
                    class="ml-2"
                    mat-icon-button
                    (click)="toggleImportant()">
                    <mat-icon
                        [ngClass]="{'text-red-600 dark:text-red-500': mail.important}"
                        [svgIcon]="'heroicons_outline:exclamation-circle'"></mat-icon>
                </button>

                <!-- Toggle starred button -->
                <button
                    class="ml-2"
                    mat-icon-button
                    (click)="toggleStar()">
                    <mat-icon
                        [ngClass]="{'text-orange-500 dark:text-red-400': mail.starred}"
                        [svgIcon]="'heroicons_outline:star'"></mat-icon>
                </button>

                <!-- Other actions button & menu -->
                <button
                    class="ml-2"
                    mat-icon-button
                    [matMenuTriggerFor]="mailMenu">
                    <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
                </button>
                <mat-menu #mailMenu="matMenu">
                    <!-- Mark as read / unread -->
                    <button
                        mat-menu-item
                        *ngIf="mail.unread"
                        (click)="toggleUnread(false)">
                        <mat-icon [svgIcon]="'heroicons_outline:mail-open'"></mat-icon>
                        <span>Mark as read</span>
                    </button>
                    <button
                        mat-menu-item
                        *ngIf="!mail.unread"
                        (click)="toggleUnread(true)">
                        <mat-icon [svgIcon]="'heroicons_outline:mail'"></mat-icon>
                        <span>Mark as unread</span>
                    </button>
                    <!-- Marks as spam / not span-->
                    <button
                        mat-menu-item
                        *ngIf="getCurrentFolder() !== 'spam' && getCurrentFolder() !== 'drafts'"
                        (click)="moveToFolder('spam')">
                        <mat-icon [svgIcon]="'heroicons_outline:exclamation'"></mat-icon>
                        <span>Spam</span>
                    </button>
                    <button
                        mat-menu-item
                        *ngIf="getCurrentFolder() === 'spam'"
                        (click)="moveToFolder('inbox')">
                        <mat-icon [svgIcon]="'heroicons_outline:exclamation'"></mat-icon>
                        <span>Not spam</span>
                    </button>
                    <!-- Delete -->
                    <button
                        mat-menu-item
                        *ngIf="getCurrentFolder() !== 'trash'"
                        (click)="moveToFolder('trash')">
                        <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                        <span>Delete</span>
                    </button>
                </mat-menu>
            </div>

            <!-- Subject and Labels -->
            <div class="flex flex-wrap items-center py-5 px-6">
                <!-- Subject -->
                <div class="flex flex-auto my-1 mr-4 text-2xl">{{mail.subject}}</div>
                <!-- Labels -->
                <ng-container *ngIf="mail.labels && mail.labels.length > 0">
                    <div class="flex flex-wrap items-center justify-start -mx-1">
                        <ng-container *ngFor="let label of (mail.labels | fuseFindByKey:'id':labels)">
                            <div
                                class="m-1 py-0.5 px-2.5 rounded-full text-sm font-medium whitespace-nowrap"
                                [ngClass]="labelColors[label.color].combined">
                                {{label.title}}
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </div>

        </div>

        <!-- Threads -->
        <div
            class="flex flex-col flex-auto shrink-0 lg:shrink p-3 lg:overflow-y-auto bg-gray-100 dark:bg-transparent"
            fuseScrollReset>

            <!-- Thread -->
            <div class="flex flex-col flex-auto w-full shadow rounded-2xl bg-card dark:bg-black dark:bg-opacity-10">

                <div class="flex flex-col">

                    <!-- Content -->
                    <mat-accordion>
                        <ng-container>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header [collapsedHeight]="'56px'">
                                    <mat-panel-title class="font-medium leading-tight">Accordion 1</mat-panel-title>
                                </mat-expansion-panel-header>
                                <div
                                    class="flex mt-8 whitespace-pre-line leading-relaxed"
                                    [innerHTML]="mail.content">
                                </div>
                            </mat-expansion-panel>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header [collapsedHeight]="'56px'">
                                    <mat-panel-title class="font-medium leading-tight">Accordion 2</mat-panel-title>
                                </mat-expansion-panel-header>
                                <div
                                    class="flex mt-8 whitespace-pre-line leading-relaxed"
                                    [innerHTML]="mail.content">
                                </div>
                            </mat-expansion-panel>
                        </ng-container>
                    </mat-accordion>

                </div>

            </div>

        </div>

    </ng-container>

    <!-- Select mail to read template -->
    <ng-template #selectMailToRead>

        <div class="flex flex-col flex-auto items-center justify-center bg-gray-100 dark:bg-transparent">
            <mat-icon
                class="icon-size-24"
                [svgIcon]="'heroicons_outline:mail'"></mat-icon>
            <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">Select a mail to read</div>
        </div>

    </ng-template>

</div>
